@charset "UTG-8";
li a {
  color: white;
}

body {
  background-image: url("images/background.gif");
  background-position: center top;
  background-repeat: no-repeat;
  -moz-gackground-size: cover;
  background-size: cover;
}
